$colorPrimary: #27b59f;
$colorPrimaryLight: #d6f2ec;
$colorPrimaryDark: #026863;

$textColor: #333;
$textColorLight: #ccc;

@import "Header";
@import "Map";
@import "Sidebar";
@import "SidebarBuildingDetail";
@import "SidebarSearchResult";

html, body, div#root, div.application {
    height: 100%;
    overflow: hidden;
}

div.application__content {
    position: relative;
    height: calc(100% - 112px);
}