
$colorPrimary: #27b59f;
$colorPrimaryLight: lighten($colorPrimary,20%);
$colorPrimaryDark: #026863;

$textColor: #333;
$textColorOnPrimary: $colorPrimaryDark;

@import "Header";
@import "Map";
@import "Sidebar";
@import "SidebarBuildingDetail";
@import "SidebarSearchResult";

html, body, div#root, div.application {
    height: 100%;
    overflow: hidden;
}

div.application__content {
    position: relative;
    height: calc(100% - 64px);
}