$headerBarPrimaryHeight: 56px;
$headerBarFilterHeight: 50px;
$headerBarPadding: 8px;

$filterBarForeground: $colorPrimary;
$filterBarBackground: white;

.header {
  position: relative;
  height: $headerBarPrimaryHeight + $headerBarFilterHeight;
  background-color: $colorPrimary;
}

.header .search__bar {
  height: $headerBarPrimaryHeight;
  padding: 8px;
  margin-bottom: 0;
  color: white;

  .brand {
    height: 100%;
    display: inline-block;
  }

  .brand__icon {
    height: 100%;
    float: left;
  }

  .social__media__icon{
    height: 32px;
    float: right;
    position: absolute;
    right: 0px;
  }

  .brand__name {
    height: 100%;
    display: inline-block;
    margin: 0;
    font-size: 30px;
    line-height: 48px;
    float: left;
  }

  ::placeholder {
    color: $colorPrimaryDark;
    opacity: 1; /* Firefox */
  }

  div.search {
    display: block;
    height: $headerBarPrimaryHeight - 2* $headerBarPadding;
    background-color: #ffffff33;
    padding: 0;

    i.material-icons {
      line-height: $headerBarPrimaryHeight - 2* $headerBarPadding;
      height: $headerBarPrimaryHeight - 2* $headerBarPadding;
    }
  }
}


.header .search__filters {
  height: $headerBarFilterHeight;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(219, 219, 219);
  color: $colorPrimary;
  background-color: white;

  & > div {
    height: $headerBarFilterHeight;
    padding: 0;
    margin-bottom: 0;
  }

  .select-wrapper.search__filters__filter {
    height: 100%;
    background-color: #ffffff77;
    padding: 8px;
  }

  /* Search filters with a modal dropdown*/
  .search__filters__filter.search__filters__filter--modal {
    position: relative;
    height: $headerBarFilterHeight;
    width: auto;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;

    .search__filters__filter__caption {
      height: $headerBarFilterHeight;
      padding: $headerBarPadding 2*$headerBarPadding $headerBarPadding 0;
      background-color: transparent;
      display: block;
      border: none;

      a {
        display: block;
        margin-top: ($headerBarFilterHeight - 3 * $headerBarPadding - 18px)/2;
        padding: $headerBarPadding / 2;
        line-height: 18px;
        font-size: 20px;
        border-radius: 4px;
        color: $filterBarForeground;
        border: 1px solid $filterBarForeground;
      }

      &.search__filters__filter__caption--active a {
        background-color: $filterBarForeground;
        color: $filterBarBackground;
        border: 1px solid $filterBarForeground;
      }

    }

    .search__filters__filter__detail {
      background-color: white;
      border-radius: 4px;
      width: 100%;
      min-height: 25px;
      position: absolute;
      left: 0;
      z-index: 10000;
      color: black;
      padding: $headerBarPadding * 2;
      display: none;
      line-height: 18px;

      box-shadow: rgba(0, 0, 0, 0.15) 0 14px 36px 2px !important;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .search__filters__filter__detail--visible {
      display: block !important;
      width: auto;
      background-color: $filterBarBackground;
      box-shadow: rgba(0, 0, 0, 0.15) 0 14px 36px 2px !important;
      border: 1px solid rgba($filterBarForeground, 0.2);
      color: $textColor;
    }

    #wheelslider {
      width: 240px;
    }
  }
}