.header {
    position: relative;
    height: 120px;
}

.header .search__bar {
    height: 50%;
    padding: 8px;
}




.header .brand{
    height: 100%;
    display: inline-block;
}

.header .brand__icon{
    height: 100%;
    float: left;
}

.header .brand__name{
    height: 100%;
    display: inline-block;
    margin: 0;
    font-size:30px;
    line-height: 48px;
    float:left;
}

.header .search{
    display: inline-block;
    height: 100%;
    float:right;
    background-color: #ffffff33;
}

.header .search__filters__filter{
    height: 100%;
    background-color: #ffffff33;
    padding: 8px;
}
