$headerBarRowHeight: 56px;
$headerBarPadding: 8px;

$filterBarForeground: $colorPrimary;
$filterBarActiveBackground: $colorPrimary;
$filterBarBackground: white;

.header {
  position: relative;
  height: 2* $headerBarRowHeight;

  & > .row {
    height: $headerBarRowHeight;
    margin: 0;

    &:first-of-type {
      background-color: $colorPrimary;
    }

    &:nth-of-type(2) {
      background-color: $filterBarBackground;
    }

    .col {
      height: $headerBarRowHeight;
    }
  }
}

.header {
  .brand {
    height: $headerBarRowHeight;
    display: inline-block;
    padding: 8px 0;
    margin-bottom: 0;
    color: white;
  }

  .brand__icon {
    height: 100%;
    float: left;
  }

  .social__media__icon {
    height: 32px;
    margin: ($headerBarRowHeight - 32px) / 2;
    float: right;
  }

  .brand__name {
    height: 100%;
    display: inline-block;
    margin: 0;
    font-size: 0.7* ($headerBarRowHeight - 2*$headerBarPadding);
    line-height: $headerBarRowHeight - 2*$headerBarPadding;
    float: left;
  }
}

.header .search {
  background-color: $colorPrimaryLight;
  padding: 0 !important;

  ::placeholder {
    color: $colorPrimaryDark;
    opacity: 1; /* Firefox */
  }

  .label-icon {
    margin-left: .75rem;
    i.material-icons {
      line-height: $headerBarRowHeight;
      height: $headerBarRowHeight;
      color: $colorPrimaryDark;
    }
  }
}

.header .search__filters {
  margin-bottom: 0;
  color: $colorPrimary;
  background-color: white;

  & > div {
    height: $headerBarRowHeight;
    padding: 0;
    margin-bottom: 0;
  }

  .select-wrapper.search__filters__filter {
    height: 100%;
    background-color: #ffffff77;
    padding: 8px;
  }

  /* Search filters with a modal dropdown*/
  .search__filters__filter.search__filters__filter--modal {
    position: relative;
    height: $headerBarRowHeight;
    width: auto;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;

    .search__filters__filter__caption {
      height: $headerBarRowHeight;
      padding: $headerBarPadding 2*$headerBarPadding $headerBarPadding 0;
      background-color: transparent;
      display: block;
      border: none;

      a {
        display: block;
        margin-top: ($headerBarRowHeight - 3 * $headerBarPadding - 18px)/2;
        padding: $headerBarPadding / 2;
        line-height: 18px;
        font-size: 20px;
        border-radius: 4px;
        color: $filterBarForeground;
        border: 1px solid $filterBarForeground;
      }

      &.search__filters__filter__caption--active a {
        background-color: $filterBarActiveBackground;
        color: $filterBarBackground;
        border: 1px solid $filterBarForeground;
      }

    }

    .search__filters__filter__detail {
      background-color: white;
      border-radius: 4px;
      width: 100%;
      min-height: 25px;
      position: absolute;
      left: 0;
      z-index: 10000;
      color: black;
      padding: $headerBarPadding * 2;
      display: none;
      line-height: 18px;
      box-shadow: rgba(0, 0, 0, 0.15) 0 14px 36px 2px !important;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .search__filters__filter__detail--visible {
      display: block !important;
      width: auto;
      background-color: $filterBarBackground;
      box-shadow: rgba(0, 0, 0, 0.15) 0 14px 36px 2px !important;
      border: 1px solid rgba($filterBarForeground, 0.2);
    }

    #wheelslider {
      width: 240px;
    }
  }
}