@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$sidebarTitleHeight: 40px;

.row.application__content > .col:first-of-type {
  height: 100%;
}

div.sidebar__list {
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: $sidebarTitleHeight + 10px;
  margin: 0 0 0-$sidebarTitleHeight 0;

  &>.buildings__card:last-of-type {
    margin-bottom: 40px;
  }
}

div.sidebar__card {
  height: 100%;
}

.sidebar__title {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
  height: $sidebarTitleHeight;
  border-top: 1px solid rgba(164, 164, 164, 0.21);;
  clear: both;
  background-color: #fff;
  padding: 0;

}

.result__text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 40px;
  padding-left: 22px;
}