@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.row.application__content > .col:first-of-type{
    height: 100%;
}

div.sidebar {
    height: 100%;
    margin: 0;
    float: left;
    background-color: #fff;
    overflow: auto;
}

div.sidebar__card {

    height: 100%;
}

.result{
    position: absolute;
    bottom: 0;
    left:0;
    width:100%;
    border-top: 1px solid rgba(164, 164, 164, 0.21);;
    clear:both;
    padding: 0;

}

.result__text {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;

}